<div class='padded white-bg'>
    <div class='content padded'>
        <div class='padded'>
            <h1>Haz un vistazo! Mira lo que he construido</h1>
        </div>
        <div class='row'>
            <div class='card third'>
                <h3>Mailer App</h3>
                <p>Esta es una aplicación utilizando la API de SendGrid</p>
                <a class='green' target='_blank' href='https://serene-everglades-42888.herokuapp.com'>Link aquí</a>
        </div>
        <div class='card third'>
            <h3>Gestor de Clientes</h3>
            <p>Una aplicación para gestionar mis clientes</p>
            <a class='green' href="{{ url_for('static', filename='gestor_clientes') }}">Link aquí</a>
        </div>
         <div class='card third'>
            <h3>Gestor de Tareas</h3>
            <p>Una aplicación para gestionar mis tareas</p>
            <a class='green' href="{{ url_for('static', filename='db') }}">Link aquí</a>
        </div>
    </div>
</div>